{
    mysql_port: {{ mysql_port }}
    mysql_socket: {{ mysql_socket }}
    mysql_superuser: {{ mysql_superuser }}
    mysql_superuser_password: {{ mysql_superuser_password }}
    mysql_wordpress_password: {{ mysql_wordpress_password }}
}
